*{
    /* MEDIANTE EL '*' APLICAMOS ESTAS PROPIEDADES A TODAS LAS ETIQUETAS */
    /* LIMPIAMOS MÁRGENS - SE PONEN A '0' */
    margin: 0;
    /* LIMPIAMOS LOS PADDING - SE PONEN A '0' */
    padding: 0;
    /* DE ESTE MODO CUENTA LOS BORDES COMO PARTE DEL ANCHO Y ALTO */
    /* ESTA PROPIEDAD ES MECESARIA PARA HACER EL DISEÑO RESPONSIVO */
    /* INCLUYE LOS BORDES COMO MEDIDA DEL ANCHO Y ALTO DEL ELEMENTO */
    box-sizing: border-box;
}
ul{
    /* QUITAMOS EL PUNTO A LA IZQUIERDA DE CADA ELEMENTO DE LA LISTA */
    list-style-type: none;
}
a{
    /* QUITAMOS EL SUBRAYADO DE TODOS LOS ENLACES */
    text-decoration: none;
    /* APLICAMOS EL COLOR DE LA FUENTE DE SU PADRE */
    color: inherit;
}
