* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margen_derecho {
    position: absolute;
    top: 0;
    right: 0;
    width: 6vw;
    height: 625vh;
    background-color: lightgray;
}

.margen_izquierdo {
    position: absolute;
    top: 0;
    width: 6vw;
    height: 625vh;
    background-color: lightgray;
}

header {
    background-color: beige;
}

ul #icono {
    display: flex;
    width: 3%;
    margin: 0 37% 0 9%;
}

ul {
    display: flex;
    width: 80%;
    margin-left: 6%;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: gray;
    font-size: 150%;
}

.palo {
    color: lightgray;
    margin-left: 1vh;
}

#section_inicio {
    background-color: beige;
    display: flex;
    height: 100vh;
    width: 99vw;
    flex-direction: column;
}

.section1 {
    display: inline-block;
    height: 100vh;
    width: 99vw;

}

h1 {
    color: gray;
    text-shadow: gray 0 4px;
    text-align: center;
    font-size: 450%;
    margin: 15% 15% 2% 15%;
}

#section_inicio .parrafo_titulos {
    color: gray;
    text-align: center;
    font-size: x-large;
    margin: 0px 26% 5% 26%;
}

hr {
    margin-left: 40%;
    margin-right: 40%;
}

.section1 .parrafo_titulos {
    color: gray;
    text-align: center;
    font-size: x-large;
    margin: 0px 26% 5% 26%;
}

h2 {
    color: gray;
    text-shadow: gray 0 4px;
    text-align: center;
    font-size: 400%;
    margin: 5% 0 2% 0;
}

.cajas {
    display: flex;
}

.section3 {
    display: flex;
    justify-content: flex-end;
    width: 22%;
    height: 46%;
    margin-top: 4%;
    margin-left: 5%
}

.ventaja {
    width: 50%;
    height: 40%;
    text-align: justify;
    font-size: 250%;
    flex-direction: column;
    justify-content: flex-end;
}

.section3 .ventaja h3 {
    color: gray;
    width: 100%;
    height: 28%;
}

.section3 .ventaja p {
    width: 107%;
    height: 100%;
    color: gray;
    font-size: x-large;
    margin: 0;

}

.tick {
    width: 32%;
    height: 27%;
    margin: 0 2% 28%
}

#imagenes1 {
    border: 1px solid black;
    box-shadow: 0.05rem 0.5rem 0.9rem 0.5rem gray;
    margin: 1% 1% 0 11%;
    width: 21%;
}

#imagenes2 {
    border: 1px solid black;
    box-shadow: 0.05rem 0.5rem 0.9rem 0.5rem gray;
    margin: 1% 1% 0 5%;
    width: 21%;
}

#imagenes3 {
    border: 1px solid black;
    box-shadow: 0.05rem 0.5rem 0.9rem 0.5rem gray;
    margin: 1% 1% 0 5%;
    width: 21%;
}

.bordes {
    border: 1px solid black;
    width: 21%;
    height: 30%;
    font-size: large;

}

.bordes p {
    margin: 5% 5% 10% 5%;
    color: gray;
}

.bordes h3 {
    margin: 5%;
    text-align: center;
    font-weight: 200;
    color: lightgray;
}

#borde_dif {
    border: 1px solid black;
    width: 37%;
    height: 38%;
    margin-left: 9%;
    margin-right: 9%;
    font-size: x-large;
    font-weight: 200;

}

#borde_dif p {
    margin: 5% 5% 10% 5%;
    color: gray;
}

#borde_dif h3 {
    margin: 5%;
    text-align: center;
    font-weight: 100;
    color: lightgray;
}

.formulario {
    display: flex;
    height: 16vh;
    width: 90vw;
    font-size: x-large;
}

.formulario #mensaje {
    width: 50vw;
    height: 15vh;
    margin: 0px 26% 0 29%;
    border: 1px solid black;
    box-shadow: inset 0.05rem 0.5rem 0.9rem 0.2rem lightgray;
    text-shadow: 1px 2px 3px black;
}

#email {
    width: 15%;
    height: 9%;
    border: 1px solid black;
    box-shadow: inset 0.05rem 0.5rem 0.9rem 0.2rem lightgray;
    margin-left: 25%;
    text-shadow: 1px 2px 3px black;
}

.cajas_formulario {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 45vh;
    font-size: x-large;
}

.cajas_formulario p {
    width: 15%;
    height: 9%;
    border: 1px solid black;
    box-shadow: inset 0.05rem 0.5rem 0.9rem 0.2rem lightgray;
    text-shadow: 1px 2px 3px black;
}

.cajas_formulario button {
    width: 15%;
    height: 9%;
    border: 1px solid black;
    box-shadow: 0.05rem 0.2rem 0.8rem 0.2rem gray;
    background-color: #0059ff;
    color: white;
    font-size: x-large;

}

#ultima_seccion {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 99vw;
}

#ultima_seccion .parrafo_titulos {
    color: gray;
    text-align: center;
    font-size: x-large;
    margin: 5% 26% 5% 26%;
}

#descargar {
    width: 15%;
    height: 9%;
    border: 1px solid black;
    box-shadow: 0.05rem 0.5rem 0.9rem 0.5rem gray;
    background-color: rgb(9, 92, 216);
    color: white;
    font-size: xx-large;
    margin-left: 42%;
}

footer ul {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 8%;
}

footer ul li {

    text-decoration: none;
    color: gray;
    font-size: 200%;
    margin-bottom: 2%;
    margin-left: 1%;
}

footer .palo {
    color: lightgray;
    margin-left: 3vh;
}

footer #dirección {
    display: flex;
    text-align: center;
    margin-top: 2%;
    font-size: 150%;
}

#logo{
    display: flex;
    align-items: center;
}

footer p {
    display: flex;
    justify-content: center;
    font-size: 150%;
}

#logo .copyright_symbol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    position: relative;
    text-align: center;
    line-height: 40px;
    /* Centra verticalmente el texto */
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: Arial, sans-serif;
    margin-left: 40%;
    margin-right: 1%;
}