*{
    margin: 0;
    padding: 0;
    /* hace que no se nos salgan los bordes del límite que le hemos dado */
    box-sizing: border-box;
}
/* Seccion 1 */
.seccion1 {
    background-color: aqua;
    display: flex;
    max-width: 100vw;
    max-height: 33.5vh;
}

.seccion1 img {
    width: 48vw;
    height: 34vh;
}

.seccion1 article {
    width: 48vw;
    height: 20vh;
    margin: 5%;
    text-align: center;
}
.seccion1 article h2{
 margin-bottom: 1%;
}

/* Seccion 2 */
.seccion2{
    width: 100vw;
    max-height: 32vh;
}
.seccion2 img {
    width: 100vw;
    max-height: 32vh;
}

/* Seccion 3 */

.seccion3 {
    display: flex;
    max-width: 100vw;
    max-height: 32.5vh;
    background-color: brown;
}

.seccion3 article {
    text-align: center;
    margin: 5%;
    max-width: 48vw;
    margin-left: 0;
}
.seccion3 article h2{
    margin-bottom: 1%;
   }

.seccion3 img {
    width: 48vw;
    height: 32.5vh;
    
}

/* Pagina 2 Seccion 1 */
.seccion4{
    width: 100vw;
    max-height: 33vh;
}
.seccion4 img {
    width: 100vw;
    max-height: 33vh;
}


/* Pagina 2 seccion 2 */

/* Seccion 5 */
.seccion5 {
    display: flex;
    width: 100vw;
    height: 32vh;
}

.seccion5 img {
    width: 29vw;
    height: 32vh;
}

.seccion5 article {
    text-align: center;
    margin: 2.5%;
    max-width: 33vw;
    margin-left: 0;
}
.seccion5 article p{
    margin-left: 3rem;
}


/* Pagina 2 seccion 3 */

/* Seccion 5 */
.seccion6 {
    display: flex;
    width: 100vw;
    height: 32vh;
}

.seccion6 img {
    width: 29vw;
    height: 32vh;
    margin-left: 1%;
}

.seccion6 article {
    text-align: center;
    margin: 2.5%;
    max-width: 33vw;
    
}
.seccion6 article p{
    margin-left: 3rem;
}



/* Pagina 3 Seccion 1 */
.seccion4{
    width: 100vw;
    max-height: 33vh;
}
.seccion4 img {
    width: 100vw;
    max-height: 33vh;
}


/* Pagina 3 Seccion 1 */
.seccion4{
    width: 100vw;
    max-height: 33vh;
}
.seccion4 img {
    width: 100vw;
    max-height: 33vh;
}


/* Pagina 3 Seccion 3 */
.seccion4{
    width: 100vw;
    max-height: 33vh;
}
.seccion4 img {
    width: 100vw;
    max-height: 33vh;
}

/* Pagina 3 Seccion 4 */
.seccion4{
    width: 100vw;
    max-height: 33vh;
}
.seccion4 img {
    width: 100vw;
    max-height: 33vh;
}