* {
    margin: 0;
    padding: 0;
    /* hace que no se nos salgan los bordes del límite que le hemos dado */
    box-sizing: border-box;
}

/* Seccion 1 */
.seccion1 {
    background-color: aqua;
    display: flex;
    max-width: 100vw;
    max-height: 33.5vh;
}

.seccion1 img {
    width: 48vw;
    height: 34vh;
}

.seccion1 article {
    width: 48vw;
    height: 20vh;
    margin: 5%;
    text-align: center;
}

.seccion1 article h2 {
    margin-bottom: 1%;
}

/* Seccion 2 */
.seccion2 {
    width: 100vw;
    max-height: 32vh;
}

.seccion2 img {
    width: 100vw;
    max-height: 32vh;
}

/* Seccion 3 */

.seccion3 {
    display: flex;
    max-width: 100vw;
    max-height: 32.5vh;
    background-color: brown;
}

.seccion3 article {
    text-align: center;
    margin: 5%;
    max-width: 48vw;
    margin-left: 0;
}

.seccion3 article h2 {
    margin-bottom: 1%;
}

.seccion3 img {
    width: 48vw;
    height: 32.5vh;

}

/* Pagina 2 Seccion 1 */
.seccion4 {
    width: 100vw;
    max-height: 33vh;
}

.seccion4 img {
    width: 100vw;
    max-height: 33vh;
}


/* Pagina 2 seccion 2 */

/* Seccion 5 */
.seccion5 {
    display: flex;
    width: 100vw;
    height: 32vh;
}

.seccion5 img {
    width: 29vw;
    height: 32vh;
}

.seccion5 article {
    text-align: center;
    margin: 2.5%;
    max-width: 33vw;
    margin-left: 0;
}

.seccion5 article p {
    margin-left: 3rem;
}


/* Pagina 2 seccion 3 */

/* Seccion 6 */
.seccion6 {
    display: flex;
    width: 100vw;
    height: 32vh;
}

.seccion6 img {
    width: 29vw;
    height: 32vh;
    margin-left: 1%;
}

.seccion6 article {
    text-align: center;
    margin: 2.5%;
    max-width: 33vw;

}

.seccion6 article p {
    margin-left: 3rem;
}


/* Sección 3 */

/* Pagina 3 Seccion 1 */
#seccionp3 {
    display: flex;
}

.seccion7 {
    width: 50vw;
    height: 48vh;
    display: inline-flex;
}

.seccion71 {
    width: 25vw;
}

.seccion7 .seccion71 img {
    width: 25vw;
    height: 24.8vh;

}

.seccion72 {
    width: 25vw;
}

.seccion7 .seccion72 img {
    width: 25vw;
    height: 24.8vh;
}


/* Pagina 3 Seccion 2 */
.seccion8 {
    width: 50vw;
    height: 50vh;

}

.seccion8 img {
    width: 50vw;
    height: 50vh;
}


/* Pagina 3 Seccion 3 */
.seccion9 {
    display: inline-block;
    width: 48vw;
    height: 49vh;
}

.seccion9 img {
    width: 48vw;
    height: 16vh;
}

/* Pagina 3 Seccion 4 */
.seccion10 {
    display: inline-flex;
    width: 49vw;
    height: 49vh;
}

.seccion10 img {
    width: 25.89vw;
    height: 49vh
}