#miParrafoMaestro{
    color: blue;
}
#parrafito2{
    background-color: crimson;
}
#saludo{
    color: white;
    background-color: lightskyblue;
}
#saludin{
    color:aliceblue;
    background-color: indigo;
}
#advertencia{
    color:indigo;
    background-color: red;
}