/* COMENTARIOS EN CSS */
        /* REGLAS DE CSS -> 'selector { propiedad: "valor";}' */
        /* OBLIGATORIO TERMINAR CADA PROPIEDAD CSS CON ;  */
        /* USAMOS EL ASTERISCO '*' COMO SELECTOR COMODÃN -> SELECCIONA TODO */
        *{ 
            margin: 0;
        }
        /* SELECTORES DE ETIQUETA */
        /* APLICA A TODOS LOS ELEMENTOS IGUALES A ESA ETIQUETA LAS PROPIEDADES */
        p{
            color: cadetblue;
            background-color: chocolate;
            height: 25px;
            width: 100px;
            padding: 10px;
            border: 5px solid grey;
            margin: 10px;
        }
        span{
            color:indigo;
            background-color: greenyellow;
        }