body{
    padding: 0%;
    margin: 0%;
    margin-bottom: 0%;
}
header {   
    background-color: aqua; 
    margin-bottom: 25%;
}

.menu.header ul li {
    display: inline-block;
    
    margin-left: 10%
}

footer {
    background-color: chartreuse;
    
}

.menu.footer ul li {
    display: flex;
    margin-bottom: 2rem;
}