body{
    margin: 0%;
}
*{
    /* CON ESTA INSTRUCCIÓN  */
    box-sizing:border-box;
}
header {   
    background-color: aqua; 
    width: 100vw;
    height: 25vh;
    top: 0;
    position: absolute;
}

.menu.header ul li {
    height: 10vw;
    height: auto;
    display: inline-block;
    margin-left: 10%;
    
}

footer{
    width: 100vw;
    height: 40vh;
    background-color: chartreuse;
    bottom: 0;
    position: absolute;
}

.footer1{
    display: flex;
    margin-top: 0%;
    
}

.menu.footer ul .footer2 {
    display: flex;
    margin-top: 3%;
}