section{
    width: 100vw;
    height: 50vh;
}
.marco{
    width: 30%;
    height: 40%;
    display: inline-block;
    text-align: center;
    border: 1px solid red;
}


#foto2, #foto1{
    max-width: 60%;
}