* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* div{
    position: absolute;
    top: 0;
    width: 6vw;
    height: 500vh;
    background-color: aqua;
} */
header {
    background-color: beige;
}

ul #icono {
    display: inline-block;
    width: 3%;
    margin: 0 37% 0 9%;
}

ul {
    display: inline-block;
    width: 80%;
    margin-left: 6%;
}

ul li {
    display: inline-block;
    text-decoration: none;
    color: gray;
    font-size: 150%;


}

.palo {
    color: lightgray;
    margin-left: 1vh;
}

#section_inicio {
    background-color: beige;
    display: inline-block;
    height: 100vh;
    width: 99vw;
}

.section1 {
    display: inline-block;
    height: 100vh;
    width: 99vw;

}

h1 {
    color: gray;
    text-shadow: gray 0 4px;
    text-align: center;
    font-size: 450%;
    margin: 15% 15% 2% 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#section_inicio .parrafo_titulos {
    color: gray;
    text-align: center;
    font-size: x-large;
    margin: 0px 26% 5% 26%;
}

hr {
    margin-left: 40%;
    margin-right: 40%;
}
.section1 .parrafo_titulos {
    color: gray;
    text-align: center;
    font-size: x-large;
    margin: 0px 26% 5% 26%;
}

h2 {
    color: gray;
    text-shadow: gray 0 4px;
    text-align: center;
    font-size: 400%;
    margin: 5% 0 2% 0;
}


.section3 {
    display: inline-block;
    width: 30%;
    height: 50%;
    text-align: center;
    margin-top: 4%;
}

.ventaja {
    display: inline-block;
    width: 50%;
    height: 40%;
    text-align: justify;
    font-size: 250%;

}

.section3 .ventaja h3 {
    color: gray;
    width: 100%;
    height: 28%;
}

.section3 .ventaja p {
    width: 130%;
    height: 90%;
    color: gray;
    font-size: x-large;
    margin: 0;

}

.tick {
    display: inline-block;
    width: 27%;
    height: 26%;
    margin: 0 2% 9% 0;
}

.imagenes3 {
    border: 1px solid black;
    box-shadow: 0.05rem 0.5rem 0.9rem 0.5rem gray;
    margin: 1% 3% 0 3%
}

.bordes{
    display: inline-block;
    border: 1px solid black;
    width: 25%;
    height: 25%;
    margin-left: 5%;
}
.bordes p{
    margin: 5%;
}
.bordes h3{
    margin: 5%;
    text-align: center;
}
#borde_dif{
    display: inline-block;
    border: 1px solid black;
    width: 25%;
    height: 30%;
    margin-left: 5%;
}
#borde_dif p{
    margin: 5%;
}
#borde_dif h3{
    margin: 5%;
    text-align: center;
}

.formulario {
    height: 40vh;
    width: 90vw;
    font-size: x-large;
}

.formulario #mensaje {
    display: inline-block;
    width: 50%;
    height: 30%;
    margin: 0px 26% 2% 29%;
    border: 1px solid black;
    text-shadow: 1px gray;
    box-shadow: 0.05rem 0.5rem 0.9rem 0.5rem gray;
}

.formulario p {
    display: inline-block;
    width: 15%;
    height: 9%;
    border: 1px solid black;
    box-shadow: 0.05rem 0.5rem 0.9rem 0.5rem gray;
    margin-right: 1%;
}

.formulario #email {
    display: inline-block;
    width: 15%;
    height: 9%;
    border: 1px solid black;
    box-shadow: 0.05rem 0.5rem 0.9rem 0.5rem gray;
    margin-right: 1%;
    margin-left: 30%;
}

.formulario button {
    display: inline-block;
    width: 15%;
    height: 9%;
    border: 1px solid black;
    box-shadow: 0.05rem 0.5rem 0.9rem 0.5rem gray;
    background-color: blue;
    color: white;
    font-size: x-large;
}
#ultima_seccion{
    display: inline-block;
    height: 100vh;
    width: 99vw;
}
#ultima_seccion .parrafo_titulos {
        color: gray;
        text-align: center;
        font-size: x-large;
        margin: 5% 26% 5% 26%;
}
#descargar {
    display: inline-block;
    width: 15%;
    height: 9%;
    border: 1px solid black;
    box-shadow: 0.05rem 0.5rem 0.9rem 0.5rem gray;
    background-color: rgb(9, 92, 216);
    color: white;
    font-size: xx-large;
    margin-left: 42%;
}

.copyright-symbol {
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    position: relative;
    text-align: center;
    line-height: 40px; /* Centra verticalmente el texto */
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: Arial, sans-serif;
}